.footer {
    background-color: #f7f7f7;
    border: 0.125rem solid #cbd5e0;
    border-radius: 0.625rem;
    box-shadow: 0.000rem 0.125rem 0.250rem rgba(0, 0, 0, 0.1);
    font-family: sans-serif !important;
    margin-top: 1.250rem;
    padding: 1rem;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* If you want vertical centering */
}

.footer-copywright, 
.footer-body {
    text-align: center;
    color: #4a5568;
}

.footer h3 {
    font-size: 1em;
    color: #4a5568;
    margin: 0;  /* To ensure no extra space */
}

.footer-icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 6em;
    gap: 0.625rem;
    padding-right:0.312rem;
}

.social-icons a {
    color: #cbd5e0;
    font-size: 1em;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #a0aec0;
}

@media (max-width: 50rem) {
    .footer {
        background-color: #f7f7f7;
        border: 0.125rem solid #cbd5e0;
        border-radius: 0.625rem;
        box-shadow: 0.000rem 0.125rem 0.250rem rgba(0, 0, 0, 0.1);
        font-family: sans-serif !important;
        margin-top: 1.250rem;
        padding: 1rem;
    }
    
    
    .footer-row {
        display: flex;
        justify-content: space-between;
        align-items: center; /* If you want vertical centering */
    }
    
    .footer-copywright, 
    .footer-body {
        text-align: center;
        color: #4a5568;
    }
    
    .footer h3 {
        font-size: .8em;
        color: #4a5568;
    }
    
    .f1{
        padding-right:3rem;  /* To ensure no extra space */
    }
    .footer-icons {
        display: flex;
        justify-content: center;
        flex-direction:column;
        list-style-type: none;
        gap: 0.625rem;
    }
    
    .social-icons a {
        color: #cbd5e0;
        font-size: .8em;
        transition: color 0.3s ease;
    }
    
    .social-icons a:hover {
        color: #a0aec0;
    }
}

    