  .main {
    display: flex;
    flex-direction: left; /* Align children in a column */
    align-items: center;
    background-color:  #f5f5f5;
    border-radius: 0.625rem;
    padding-bottom: 10rem;
    padding: 1rem;
    min-height: 100vh; /* Set minimum height to full viewport height */
    font-family:Helvetica; 
    /*margin-top: 2.812rem;*/
    border: 0.188rem solid #cbd5e0;
    /*margin-left: 13.750rem;
    /*remove margin left for nav bar */
    
  }

  .flexRow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; /* Align items at the top */
    flex-wrap: wrap;
  }

  .profileContainer {
    box-shadow: 0.000rem 0.625rem 0.938rem rgba(0, 0, 0, 0.1);
    border: 0.188rem solid #cbd5e0;;
    word-wrap: break-word;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; /* Equal padding on all sides */
    background-color: #edf2f7; /* Approximate to bg-gray-200 */
    border-radius: 0.625rem; /* Max value to achieve rounded-full */

  }

  .descriptionContainer {
    box-shadow: 0.000rem 0.625rem 0.938rem rgba(0, 0, 0, 0.1);
    border: 0.188rem solid #cbd5e0;;
    text-align:left;
    margin: 0.5rem;
    display: flex;
    /* 800 for navbar*/
    flex-direction: column; 
    padding: 1rem; /* Equal padding on all sides */
    background-color: #edf2f7; /* Approximate to bg-gray-200 */
    border-radius: 0.625rem; /* Max value to achieve rounded-full */

  }
  #Test
  {
      position: absolute;
      visibility: hidden;
      height: auto;
      width: auto;
      white-space: nowrap; /* Thanks to Herb Caudill comment */
  }
  .expDate {
    text-align: right;
    font-weight:Bold;
  }

  .gradYear{
    text-align: right;
    font-weight:Bold;
  }
  .profileImage {
    word-wrap: break-word;
    width: 9.375rem;
    height: 9.375rem;
    object-fit: cover;
    border-radius: 0.625rem;
    border: 0.125rem solid #cbd5e0;;
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.2);
  }


  .resumeHeader{
    text-align:left;
  }

  .photoTitle {
    font-weight: lighter;
    margin-top: 0.5rem;
    text-align: center;
  }

  .Links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Aligns items in column (vertically) */
    width: 100%; /* Adjust the width as needed */
  }

  .Links a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #4a5568;
    color: #fff;
    text-decoration: none;
    justify-content: flex-start;
    text-align: center;
    border-radius: 0.312rem;
    transition: background-color 0.3s ease;
    border: 0.188rem solid #cbd5e0;
  }

  .Links a:hover {
    background-color: #2d3748;
  }

  .links-list {
    list-style-type: none; /* Removes the default bullet points */
    margin-top:0.312rem;
    padding: 0; /* Removes the default padding */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Aligns items in column (vertically) */
    gap:0.625rem;
  }
  .links-list li {
    margin: 0.5rem 0; /* Adds a bit of space between the links */
  }

  .links-list li a:hover {
    cursor: pointer;
  } 

  .Links a.highlight {
    background-color: #87CEEB;  /* or any color you prefer for highlighting */
    color: #000; /* change text color when highlighted if needed */
  }

  .Links a.highlight:hover {
    background-color: #6495ED;  /* Or any darker shade of your highlight color */
    color: #000;  /* Change text color on hover if needed, white in this case */
  }

    @media (max-width: 50rem) {
        /* Adjustments for smaller screens can be added here */
          .main {
            display: flex;
            flex-direction: column; /* Align children in a column */
            justify-content: center;
            align-items: center;
            background-color:  #f5f5f5;
            border-radius: 0.625rem;
            padding: 1rem;
            font-family:Helvetica; 
            /*margin-top: 2.812rem;*/
            border: 0.188rem solid #cbd5e0;
            /*margin-left: 13.750rem;
            /*remove margin left for nav bar */
            margin-bottom:1px;
            
          }
        
          .flexRow {
            display: flex;
            justify-content: center;
            align-items: center; /* Align items at the top */
            flex-wrap: wrap;
          }
        
          .profileContainer {
            box-shadow: 0.000rem 0.625rem 0.938rem rgba(0, 0, 0, 0.1);
            border: 0.188rem solid #cbd5e0;;
            word-wrap: break-word;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem; /* Equal padding on all sides */
            background-color: #edf2f7; /* Approximate to bg-gray-200 */
            border-radius: 0.625rem; /* Max value to achieve rounded-full */
        
          }
        
          .descriptionContainer {
            box-shadow: 0.000rem 0.625rem 0.938rem rgba(0, 0, 0, 0.1);
            border: 0.188rem solid #cbd5e0;;
            text-align:left;
            margin: 0.5rem;
            display: flex;
            /* 800 for navbar*/
            flex-direction: column; /* Align children in a column */
            align-items: center;
            padding: 1rem; /* Equal padding on all sides */
            background-color: #edf2f7; /* Approximate to bg-gray-200 */
            border-radius: 0.625rem; /* Max value to achieve rounded-full */
        
          }
          .expDate {
            text-align: right;
            font-weight:Bold;
          }
        
          .gradYear{
            text-align: right;
            font-weight:Bold;
          }
          .profileImage {
            word-wrap: break-word;
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            border-radius: 0.625rem;
            border: 0.125rem solid #cbd5e0;;
            box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.2);
          }
        
        
          .resumeHeader{
            text-align:left;
          }
        
          .photoTitle {
            font-weight: lighter;
            margin-top: 0.5rem;
            text-align: center;
          }
        
          .Links {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; /* Aligns items in column (vertically) */
            width: 100%; /* Adjust the width as needed */
          }
        
          .Links a {
            display: block;
            padding: 0.5rem 1rem;
            background-color: #4a5568;
            color: #fff;
            text-decoration: none;
            justify-content: flex-start;
            text-align: center;
            border-radius: 0.312rem;
            transition: background-color 0.3s ease;
            border: 0.188rem solid #cbd5e0;
            font-size:10px;
          }
        
          .Links a:hover {
            background-color: #2d3748;
          }
        
          .links-list {
            list-style-type: none; /* Removes the default bullet points */
            margin-top:0.312rem;
            padding: 0; /* Removes the default padding */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row; /* Aligns items in column (vertically) */
            gap:0.625rem;
          }
          .links-list li {
            margin: 0.5rem 0; /* Adds a bit of space between the links */
          }
        
          .links-list li a:hover {
            cursor: pointer;
          } 
        
          .Links a.highlight {
            background-color: #87CEEB;  /* or any color you prefer for highlighting */
            color: #000; /* change text color when highlighted if needed */
          }
        
          .Links a.highlight:hover {
            background-color: #6495ED;  /* Or any darker shade of your highlight color */
            color: #000;  /* Change text color on hover if needed, white in this case */
          }
    }
    