/* navBar.css */

.nav-btn {
  padding: 10px 10px ;
  border: 2px solid #cbd5e0;  /* Match with the homepage border */
  background-color: #edf2f7;  /* Use homepage's background color */
  color: #4a5568;  /* Match text color with links color of homepage */
  border-radius: 10px; /* Match with homepage's border-radius */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.nav2{
  margin-right:10px;
}

.nav-btn:hover {
  background-color: #cbd5e0;  /* On hover, change to a different shade */
  color: #2d3748;  /* Darken text color on hover */
}

.navbar {
  border-radius:10px;
  border: 2px solid #cbd5e0;  /* Match with the homepage border */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7; /* Maintain the light gray background */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;  
  padding:.5rem;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.navbar-title {
  flex-grow: 5;
}
